[submodule "lib/Arduino-LiquidCrystal-I2C"]
	path = lib/Arduino-LiquidCrystal-I2C
	url = https://github.com/fdebrabander/Arduino-LiquidCrystal-I2C-library.git
[submodule "lib/ArxSmartPtr"]
	path = lib/ArxSmartPtr
	url = https://github.com/hideakitai/ArxSmartPtr.git
[submodule "lib/LiquidCrystal"]
	path = lib/LiquidCrystal
	url = https://github.com/arduino-libraries/LiquidCrystal.git
